.pr1{
    font-size: 40px;
    text-align: center;
}
.hdr{
    text-align: center;
    margin-bottom: 30%;
   padding-top: 1px;
}
.rp1{
    background-color: rgb(7, 7, 24);
    height: 80px;
    font-size: 25px;
    text-align: center;
    color: white;
    padding-top: 20px;
}
.rp2{
    background-color: rgb(17, 17, 29);
    height: 450px;
    color: white;
}
img{
    float: left;
}
pre{
    float: left;
    font-size: 25px;
    margin: top 20px;
}
p{
    padding-top: 140px;
    text-align: left;
}
.div2{
    background-image: linear-gradient(rgb(3, 3, 71),rgb(68, 68, 223),blue);
}
h1{
    text-align: center;
}
.img1{
    margin-top: 25px;
    height: 85%;
    width: 100%;
    outline: 2px solid white;
   margin-bottom: 10px;
}
.img1:hover{
    outline: 3px solid white;
    cursor: pointer;
}
.div3{
    background-image: url(back1.png);
    background-size: cover;
}
h3{
    text-align: center;
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.466);
}
h4{
    text-align: center;
    margin-top: 30px;
    background-color: rgba(128, 128, 128, 0.363);
}
.img2{
    height: 100%;
    width: 100%;
    outline: 2px solid rgb(172, 172, 172);
}
.img2:hover{
    outline: 2px solid black;
    cursor: pointer;
}
.div1{
    margin: 15px;
}
.div4{
    margin: 20px;
}
.img3{
    height:90%;
    outline: 2px solid rgb(172, 172, 172);
}
.img3:hover{
    outline: 2px solid black;
    cursor: pointer;
}
.div5{
margin-top: 20px;
    }
.img4{
    height:90%;
    outline: 2px solid rgb(172, 172, 172);
}
.img4:hover{
    outline: 2px solid black;
    cursor: pointer;
}
.div6{
    background-color: rgb(33, 33, 58);
    color: white;
}
.hh1{
   padding-top: 40px;
}
h6{
    text-align: center;
   padding-top: 50px;
   padding-bottom: 30px;
}
.div7{
    margin-top: 20px;
}
.img5{
    height: 100%;
}
.img5:hover{
    height: 110%;
    cursor: pointer;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    text-align: left;
    color: white;
}
h5{
    color: white;
    text-align: center;
}
.div8{
    padding-top: 40px;
    text-align: center;
}
.icon{
    height: 20px;
    width: 20px;
    margin: 10px;
    outline: 1px solid rgb(48, 46, 46);
}
.i1{
    margin-left: 30px;
}
.icon:hover{
    outline: 1px solid white;
    cursor: pointer;
}
.ftr{
    padding-top: 1px;
    margin:1px;
    color: white;
    font-size: 15px;
    text-align: center;
    background-color: rgb(19, 7, 27);
}