.pr1{
    font-size: 40px;
    text-align: center;
}
.hdr{
    text-align: center;
    margin-bottom: 30%;
   padding-top: 1px;
}
.div6{
    background-color: rgb(33, 33, 58);
    color: white;
}
.hh1{
   padding-top: 40px;
   text-align: center;
}
h6{
    text-align: center;
   padding-top: 50px;
   padding-bottom: 30px;
}
.div7{
    margin-top: 20px;
}
.img5{
    height: 100%;
}
.img5:hover{
    height: 110%;
    cursor: pointer;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    text-align: left;
    color: white;
}
h5{
    color: white;
    text-align: center;
}
.div8{
    padding-top: 40px;
    text-align: center;
}
.icon{
    height: 20px;
    width: 20px;
    margin: 10px;
    outline: 1px solid rgb(48, 46, 46);
}
.i1{
    margin-left: 30px;
}
.icon:hover{
    outline: 1px solid white;
    cursor: pointer;
}
.ftr{
    padding-top: 1px;
    margin:1px;
    color: white;
    font-size: 15px;
    text-align: center;
    background-color: rgb(19, 7, 27);
}